* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
  /* background: red; */
}

html {
  /* overflow: auto; */
  height: 100%;
}

h2 {
  top: 200px;
}

.controls {
  padding: 20px;
  /* border: 1px solid #000; */
  width: 1080px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  transition: background-color 0.3s;
}

#modal:empty {
  background-color: rgba(255, 255, 255, 0);
  /* display: none; */
  z-index: 0;
}
