* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
  /* background: red; */
}

html {
  overflow: auto;
  height: 100%;
}

h2 {
  top: 200px;
}

.controls {
  padding: 20px;
  /* border: 1px solid #000; */
  width: 1080px;
}

.parent {
  /* position: relative; */
}

.proc-timeline {
  /* position: relative;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px; */
  /* width: 1050px; */

  /* z-index: 2; */
  /* animation-name: modal;
  animation-duration: 1s; */
}

.proc-timeline-svg {
  /* border: 1px solid red; */
  /* position: relative; */
  /* z-index: -1; */
}

/* @keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* #modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
} */

@keyframes modal {
  from {
    top: 600px;
  }
  to {
    top: 60px;
  }
}

.event-details {
  /* position: absolute; */
  /* z-index: 2; */
  /* top: 140px; */
  /* left: 150px; */
  /* animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s; */
}
